version: "2"

services:
    feed-master:
        build:
            context: .
            dockerfile: Dockerfile
            args:
            - SKIP_TEST
        image: umputun/feed-master:master
        container_name: feed-master
        hostname: feed-master
        restart: always

        logging:
            driver: json-file
            options:
                max-size: "10m"
                max-file: "5"

        environment:
            - MHOST
            - DEBUG=false
            - FM_DB=/srv/var/feed-master.bdb
            - FM_CONF=/srv/etc/fm.yml
            - TELEGRAM_TOKEN
            - UPLOADER_ENABLED
            - UPLOADER_PATH_TO_SCRIPT=/srv/uploader/uploader.py
            - UPLOADER_SESSION=uploader
            - UPLOADER_API_ID
            - UPLOADER_API_HASH
        volumes:
            - ./var:/srv/var # mapped location to save status
            - ./_example/etc:/srv/etc # mapped location for config
            - ./_example/images:/srv/images # mapped location for images
        ports:
            - "8097:8080" # exposed on port 8097
