<!DOCTYPE html>
<html>

<head>
    <title>Feed Master</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/styles.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/bootstrap.bundle.min.js"></script>
</head>


<body>

    <nav class="navbar navbar-light fixed-top">
        <div class="navbar-brand" href="#">
            <img src="/static/podcast.png" width="30" height="30" alt="">
            Feed Master <span id="name"><a href="{{.Link}}">{{.Name}}</a> - {{.Description}}</span>
        </div>

        <span class="navbar-text" id="feeds-info">
            {{len .Items}} feeds, {{.LastUpdate.Format "02 Jan 2006 15:04:05 MST"}}
        </span>
    </nav>


    <div id='main'>
        <table class='table' id='header-row'>
            <tbody>
                {{range .Items}}
                <tr>
                    <td>
                        <span class="player">
                            <a href="{{.Enclosure.URL}}" target="_blank">
                            <i class="fas fa-volume-up"></i></a>
                        </span>
                        
                        <a class="title" href="{{.Link}}" target="_blank">{{.Title}} <i class="fas fa-info-circle" data-toggle="tooltip" title="{{.Description}}"></i></a> 
                        
                        <span class="timestamp">{{.DT.Format "02 Jan 15:04"}}</span>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div> 
    
    <nav class="navbar bottom navbar-light" id="footer">
     <span class="navbar-text">Copyright (c) 2019 Umputun</span>
     <a class="navbar-text" href="https://github.com/umputun/feed-master">Open Source, MIT License</a>
    </nav>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

</body>

</html>
