<!DOCTYPE html>
<html>

<head>
    <title>Feed Master</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/static/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/styles.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/bootstrap.bundle.min.js"></script>
	<script type="text/javascript">
        $(document).ready(function () {
            setContentPadding();
            $(window).resize(setContentPadding);

            $('[data-toggle="tooltip"]').tooltip();
        });

        function setContentPadding() {
            $('#main').css('padding-top', $('#navbar').outerHeight() + 'px');
        }
    </script>
</head>


<body>

    <nav id="navbar" class="navbar navbar-light fixed-top">
        <div class="navbar-brand" href="#">
            <img src="/static/podcast.png" width="30" height="30" alt="">
            Feed Master
        </div>
		<div id="name"><a href="{{.Link}}">{{.Name}}</a> - {{.Description}}</div>

        <div class="navbar-text" id="feeds-info">
            {{len .Items}} feeds, {{.LastUpdate.Format "02 Jan 2006 15:04:05 MST"}}
        </div>
    </nav>


    <div id='main'>
        <table class='table' id='header-row'>
            <tbody>
                {{range .Items}}
                <tr>
                    <td class="play-cell">
                        <span class="player">
                            <a href="{{.Enclosure.URL}}" target="_blank">
                            <i class="fas fa-volume-up"></i></a>
                        </span>
					</td>
                    <td class="text-cell">    
                        <a class="title" href="{{.Link}}" target="_blank">{{.Title}} <i class="fas fa-info-circle" data-toggle="tooltip" title="{{.Description}}"></i></a>
						<div class="timestamp">{{.DT.Format "02 Jan 15:04"}}</div>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div> 
    
    <nav class="navbar bottom navbar-light" id="footer">
     <span class="navbar-text">Copyright (c) 2019 Umputun</span>
     <a class="navbar-text" href="https://github.com/umputun/feed-master">Open Source, MIT License</a>
    </nav>

</body>

</html>
