<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Feed Master</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/styles.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/bootstrap.bundle.min.js"></script>
</head>


<body>


<header class="ump-feed-master-header">
    <div class="ump-feed-master-header__brand">
        <div>
            <img src="/static/podcast.png" class="ump-feed-master-logo" alt="feed master logo">
        </div>
        <div>
            <span class="ump-feed-master-name">Feed Master</span>
            <span class="ump-feed-master-info">Sources</span>
        </div>
    </div>
    <div class="ump-feed-master-header__meta">
        {{.SrcCount}} sources
    </div>
</header>

<main class="ump-feed-master">
    {{range .Sources}}
    <div class="ump-feed-master__data-row">
        <div class="ump-feed-master__data-row-info-cell">
            <div>
                <a href="{{.URL}}"
                   target="_blank"><span class="ump-feed-master-program-name">{{.Name}}</span>
                </a>
            </div>
        </div>
    </div>
    {{end}}
</main>

{{template "footer"}}


    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

</body>

</html>
