html, body {height: 100%;margin: 0; }
body  {background-color: rgb(247, 247, 247);font: normal normal normal 13px/18px 'Droid+Sans+Mono', Verdana, Helvetica, Arial, sans-serif; color:rgb(12, 7, 78);}

a {color:rgb(48, 69, 97)}
a:link {text-decoration: none !important;}
a:hover {text-decoration: none !important;}

table {
    border-collapse: collapse;
    border: 0;
    margin: 0 auto;
}

.table td {
    border-top: none;
    padding: 15px 10px;
    color: #393639;
}

#wrap {min-height: 100%;}

#header-row {font-size:1.2em; color:#595959;}
#header-row th {padding:20px 10px 10px 10px;font-size:100%; border-bottom:0 solid #adadad; border-top:0;}

.table tr:not(:first-child) td {
    border-top: 1px solid #dee2e6;
}

.table .play-cell {
    vertical-align: top;
    text-align: center;
}

.table .text-cell {
    vertical-align: top;
    text-align: left;
}

nav {
    background-color: #fdc07a;
}

#main {
    padding: 15px;
}

#name {
    margin-left: 2em;
    font-size: 1.2em;
    font-weight: 200;
    color: #686434;
}

#feeds-info {
    font-size:1.2em;
}

.title {
    font-size:0.9em;
    line-height: 1.6em;
}

.timestamp {
    float: right;
    margin-top: 15px;
    margin-bottom: 7px;
    font-size: 0.9em;
}

.title a:link {
    text-decoration: none !important;
}

.player {
    float: left;
    font-size:1.4em;
}

.fa-info-circle {
    color: rgb(183, 184, 181);
    font-size: 1em;
    margin-left: 0.2em;
}
.fa-volume-up {
    font-size:1.4em;
    color: rgb(166, 170, 128);
    size: 3em; 
}

#footer {
    font-size:1em;
}

.navbar-text {
    padding-top: 3px;
    padding-bottom: 3px;
}

@media (max-width: 767px) {
    #main {
        padding: 10px;
    }

    #name {
        margin-left: 0;
        font-size: 1.1em;
    }

    #feeds-info {
        font-size: 1.1em;
    }

    .table .play-cell {
        padding-top: 20px;
    }

    .timestamp {
        font-size: 0.8em;
        margin-top: 20px;
    }
}